@model User
<h2 class="text-center">Check our Roaster of chefs</h2>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col"># of dishes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ViewBag.User)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Age</td>
                    <td>@user.Dishes</td>
                </tr>
            }
        </tbody>
    </table>
</div>
