html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.con{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  width:  50%;
  margin: auto;
  padding: 15px;
}