<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
            <header>
                <nav class="nav flex justify">
                    <h3><a href="">Home</a></h3>
                <h3><a href="Projects">Projects</a></h3>
                <h3><a href="Contacts">Contacts</a></h3>
                </nav>
        </header>
            <h1>About Me</h1>
        <div class="flex justify-btw">
            <div>
                <img src="~/image/screen.png" alt="screen">
                <p>Bobothy Jones</p>
                <p>I love to code!</p>
            </div>

            <p class="paragraph">A strong project description provides a roadmap
                for stakeholders and communicates the vision without
                getting bogged down in details. We’ve compiled expert
                tips and sample project descriptions to help you get started. In this
                article, y
                ou’ll find a project description outline,
                steps for writing a project description, expert tips,
                and examples of project descriptions by industry.</p>
        
        
        </div>

    </div>
</body>
</html>