<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" href="~/css/project.css">
</head>
<body>
    <div class="container">
        <header>
                <nav class="nav flex justify">
                    <h3><a href="">Home</a></h3>
                    <h3><a href="projects">Projects</a></h3>
                    <h3><a href="contacts">Contacts</a></h3>
                </nav>
        </header>
        <h1>My Projects</h1>
        <div class="content">

            <div class="flex ">
                <img src="~/image/screen.png" alt="screen">
                <p>project 1</p>
            </div>
            <div class="flex">
                <img src="~/image/screen.png" alt="screen">
                <p>project 2</p>
            </div>
            <div class="flex">
                <img src="~/image/screen.png" alt="scren">
                <p>project 3</p>
            </div>
        </div>






    </div>
    
</body>
</html>